@page "/about"

<RadzenCard Style="width:500px; height:500px;">
<h1>About Us</h1>

<p>Hello. We are glad you are trying this tool. We hope this tool will help you with your team. If anything isn't working, please let us know through the <RadzenLink Path="contact">contact</RadzenLink> page</p>
</RadzenCard>

@code {
}
