@page "/participantDashboardLogin/"

@inject NavigationManager NavigationManager;

<h3>Login</h3>

    <RadzenTemplateForm Data=@("SimpleLogin") Action="google.com">
        <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login="args => OnLogin(args)" />
    </RadzenTemplateForm>

@code {


    void OnLogin(LoginArgs args)
    {
        NavigationManager.NavigateTo($"/participantDashboard/{args.Username}");

    }

}
