@page "/organizerDashboard"
@using Radzen.Blazor
<h3>Organizer Dashboard</h3>

@*<RadzenCard>
    <RadzenDataList>
        <Template Context="survey">
            <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 p-3 product-title">
                            @(survey.ProductName)
                        </div>
                        <div class="col-lg-7 p-3">
                            <div class="row d-flex">
                                <div class="col-md-6 col-lg-2">
                                    <h5 class="mb-0">In Stock</h5>
                                    <p class="mb-sm-2 mb-lg-0">@(survey.UnitsInStock)</p>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <h5 class="mb-0">Origin</h5>
                                    <p class="mb-sm-2 mb-lg-0">@(survey.Supplier?.Country)</p>
                                </div>
                                <div class="col-md-6 col-lg-5">
                                    <h5 class="mb-0">Sold by</h5>
                                    <p class="mb-sm-2 mb-lg-0">@(survey.Supplier?.CompanyName)</p>
                                </div>
                                <div class="col-md-6 order-first order-lg-last col-lg-3 text-sm-left text-lg-right mb-3 mb-lg-0">
                                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Class="price-badge" Text=@($"{String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", survey.UnitPrice)}") />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 p-3">
                            <RadzenButton Text="Order now" Class="w-100" />
                        </div>
                    </div>
                </div>
            </RadzenCard>
        </Template>
    </RadzenDataList>
</RadzenCard>


<style>
    .product-title {
        min-height: 72px;
        color: #da0074;
        background-color: rgba(255, 41, 155, .1);
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .price-badge {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        padding: 8px;
    }
</style>*@

@code {



}
